<div class="contaionLegalNotice">
    <h1 class="text-center">Legal Notice
        <img class="arrow-left" src="assets/img/arrow-left-line.png" onclick="closeSide()">
    </h1>
    <div class="legalNoticeFrame">
        <h2>Entries referred to 5 TMG</h2>
        <h2>Contact</h2>
        <p>
            Firat Yildirim<br />
            Beispielstraße 10<br />
            25335 Berlin
        </p>
        <p>Telefon: +49 (0) 178 85 96<br />
            Telefax: +49 (0) 145 25 25<br />
            E-Mail: bsp@gmail.com</p>

        <p>Source: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
</div>